@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container container-fluid">
    <div class="text-center">
        <h1 class="display-4">Hosgeldiniz!</h1>
        <p>Bu API <a href="https://www.yasermazlum.com">MaNu</a> tarafindan ASP.NET Core ile yapildi...</p>
    </div>
</div>