@page
@model PrivacyModel
@{
    ViewData["Title"] = "Lisans ve Kosullar";
}
<h1>@ViewData["Title"]</h1>

<p>1 - API den yararlanmak icin sistem yoneticisiyle iletisime gecin.</p>
<p>2 - Veri tabaninda kisisel veriler olmadigi icin aydinlatma metnine ihtiyac bulunmamaktadir.</p>
<p>3 - Yapilan bu uygulama test amacli bir API ornegidir ve yetkisi disinda calismaz.</p>
<p>4 - JSON Data formatinda veri giris cikisini yonetmektedir.</p>
<p>5 - JWT Token, Method bazli yetkilendirme katmanlari dahildir.</p>
<p>6 - AOP, OOP, IOC, SOLID ve benzeri kullanilabilirlik katmanlarina sahiptir.</p>
